<div class="container-home">
    <h3 class="h3-home">Lista de productos</h3>
    {{#if products.length}}
    <table class="table-home">
        <thead>
            <tr class="tr-home">
                <th class="th-home">T칤tulo</th>
                <th class="th-home">Descripci칩n</th>
                <th class="th-home">Precio</th>
                <th class="th-home">C칩digo</th>
                <th class="th-home">Estado</th>
                <th class="th-home">Stock</th>
                <th class="th-home">Categor칤a</th>
                <th class="th-home">Im치genes</th>
            </tr>
        </thead>
        <tbody class="tbody-home">
            {{#each products}}
            <tr class="tr-home">
                <td class="td-home">{{this.title}}</td>
                <td class="td-home">{{this.description}}</td>
                <td class="td-home">{{this.price}}</td>
                <td class="td-home">{{this.code}}</td>
                <td class="td-home">{{this.status}}</td>
                <td class="td-home">{{this.stock}}</td>
                <td class="td-home">{{this.category}}</td>
                <td class="td-home-img">
                    <img src="{{this.thumbnails.[0]}}" alt="{{this.title}}" class="product-thumbnail">
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <p class="p-home">No hay productos ingresados en el sistema.</p>
    {{/if}}

    {{#if multiplePages}}
    <div class="pagination-container">
        {{#if hasPrevPage}}
        <a href="?page={{prevPage}}" class="pagination-button">Anterior</a>
        {{else}}
        <span class="pagination-button disabled">Anterior</span>
        {{/if}}

        <span class="pagination-info">P치gina {{page}} de {{totalPages}}</span>

        {{#if hasNextPage}}
        <a href="?page={{nextPage}}" class="pagination-button">Siguiente</a>
        {{else}}
        <span class="pagination-button disabled">Siguiente</span>
        {{/if}}
    </div>
    {{/if}}

    <div class="container-idCart">
        <button id="add-cart" class="btn-idCart">游 Crear Carrito</button>
    </div>
</div>